set nocp
syntax on
set tabstop=4
set shiftwidth=4
set softtabstop=4
set et
set ruler
set hls
set incsearch
set wrap

set nu
set nobackup
set noswapfile
set autoread
set history=1000

map <space> \
nnoremap " :action Find<cr>
nnoremap <cr> :
nnoremap <leader>/ :nohls<cr>

nnoremap <leader>vs :source ~/.ideavimrc<cr>
nnoremap , @a

nnoremap gc :action GotoClass<cr>
nnoremap ga :action GotoAction<cr>

nnoremap gd :action GotoDeclaration<cr>
nnoremap gi :action GotoImplementation<cr>
nnoremap gs :action GotoSuperMethod<cr>

nnoremap gn :action Generate<cr>
nnoremap gf :action FileStructurePopup<cr>

nnoremap gh :action Back<cr>
nnoremap gl :action Forward<cr>

nnoremap gu :action FindUsages<cr>

nnoremap <leader>h :action HideSideWindows<cr>
nnoremap <leader>l :action ActivateProjectToolWindow<cr>
nnoremap <leader>b :action ToggleLineBreakpoint<cr>
nnoremap <leader>m :action ToggleMehodBreakpoint<cr>
nnoremap <leader>s :action GotoSymbol<cr>

nnoremap <leader>, :action MoveEditorToOppositeTabGroup<cr>
nnoremap <leader>; :action MoveTabRight<cr>
nnoremap <leader>c :action VimWindowClose<cr>
nnoremap <leader>j :action SelectIn<cr>
nnoremap <leader><space> :action HideAllWindows<cr>
nnoremap <leader><tab> <c-w><c-w>
nnoremap <leader>n :action GotoNextError<cr>
nnoremap <leader>p :action GotoPreviousError<cr>

nnoremap <tab> :action NextTab<cr>
nnoremap g<tab> :action PreviousTab<cr>

nnoremap zc :action CollapseRegionRecursively<cr>
nnoremap zo :action ExpandRegionRecursively<cr>

nnoremap <leader>d "_d
nnoremap <leader>p "0p
nnoremap <leader>P "0P

"Esc
inoremap jj <esc>
"保存
nnoremap <leader>w :w<cr>
"保存并退出
nnoremap <leader>wq :wq<cr>
"退出
nnoremap <leader>q :q<cr>

augroup SourceVimConfig
    autocmd!
    autocmd BufWritePost ~/.ideavimrc source ~/.ideavimrc
augroup end
